html {
  padding: 0;
  margin: 0;
}

body {
font-size: 14px;
line-height: 26px;
color: #333333;
font-weight: normal;
font-family: "PT Sans", "Arial", sans-serif;
padding: 0;
margin: 0;
}


h2 {
font-size: 30px;
line-height: 24px;
color: black;
font-weight: bold;
}

h3{
  font-size: 21px;
  line-height: 26px;
  color: black;
}


.container {
  width: 1200px;
  margin: 0 auto;
}

.main-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 1200px;
}

.main-nav-item {
  width: 20%;
}

.item-left {
  float: left;
  text-align: left;
}

.item-right {
  float: right;
  text-align: right;
}

.main-nav-link {
  display: block;
  padding: 15px 70px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  z-index: 100;
}

.intro {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  z-index: 1;
}

/*коммит*/


.introduction {
  margin: 0 auto;
  width: 440px;
  text-align: center;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.causes {
  width: 490px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
  line-height: 26px;
}

.content-item {
  height: 256px;
}

.content-text {
  float: left;
  width: 400px;
  padding-top: 55px;
}

.content-img {
  float: left;
  width: 800px;
  height: 256px;
}

.content-header {
  width: 155px;
  margin: 0 auto;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.content-number {
  display: block;
  width: 55px;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 19px;
}

.content-subtitle {
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  margin: 0 auto;
  font-style: 21px;
}

.subtitle-1 {
  width: 285px;
}

.subtitle-2 {
  width: 210px;
}

.subtitle-3 {
  width: 263px;
}

.subtitle-4 {
  width: 260px;
}

.subtitle-5 {
  width: 305px;
  padding-top: 3px;
}

.header-1 {
  width: 155px;
}

.feature {
  height: 330px;
}

.feature-item {
  width: 400px;
  float: left;
  padding-top: 60px;
}

.icon-1 {
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.icon-2 {
  width: 74px;
  height: 70px;
  margin: 0 auto;
}

.icon-3 {
  width: 64px;
  height: 70px;
  margin: 0 auto;
}

.feature-icon {
  padding-bottom: 28px;
}

.feature-header {
  width: 105px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.feature-subtitle {
  width: 301px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
}

.feature-small {
  height: 256px;
  width: 1200px;
}

.feature-small-item {
  width: 400px;
  float: left;
  padding-top: 48px;
}

.feature-small-item:nth-child(3) {
  margin-right: 0;
}

.feature-small-header {
  width: 120px;
  margin: 0 auto;
  text-align: center;
  line-height: 21px;
  vertical-align: bottom;
  padding-bottom: 25px;
}

.search {
  padding-top: 56px;
}

.interest {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 32px;
}

.interest-subtitle {
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
  margin: 0 auto;
  padding-bottom: 47px;
  font-size: 14px;
}

.search-hotel {
  width: 565px;
  border: 1px solid black;
  margin: 0 auto;
  z-index: 200;
  position: relative;
}

.search-hotel-title {
  display: inline-block;
  width: 290px;
  padding: 30px 137px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}

.sedona-hotel-form {
  width: 455px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 55px;
  background-color: white;
}

.signature-arrival {
  display: block;
  text-transform: uppercase;
  padding-bottom: 28px;
}

.signature-departure {
  display: block;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.field-date {
  margin-left: 20px;
  height: 35px;
  width: 340px;
}

.field-adult {
  width: 110px;
  height: 30px;
  margin-left: 40px;
  margin-right: 50px;
}

.field-children {
  width: 110px;
  height: 30px;
  margin-left: 25px;
}

.search-btn {
  display: block;
  margin: 0 auto;
  margin-top: 55px;
  padding: 20px 200px;
}

.signature-noblock {
  text-transform: uppercase;
}

.map {
  margin-bottom: -128px;
  position: relative;
  z-index: 1;
}

.footer-hash {
  height: 120px;
  width: 310px;
  float: left;
}

.hash {
  display: inline-block;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-left: 131px;
  padding-top: 46px;
}

.footer-social {
  width: 200px;
  height: 50px;
  float: left;
  padding-left: 125px;
  padding-top: 25px;
}

.footer-copyright {
  width: 205px;
  height: 40px;
  float: right;
  padding-top: 39px;
  padding-right: 94px;
}

.footer-copyright span {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  padding-right: 5px;
}

.btn-html {
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
}

.main-footer {
  height: 120px;
  z-index: 200;
  position: relative;
  background-color: white;
}

.form-block {
  padding: 25px 55px;
}

.form-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.signature-catalog {
  display: block;
  padding-bottom: 20px;
  padding-left: 40px;
  text-transform: uppercase;
}

.field-catalog {
  display: none;
}

.infrastructure {
  width: 220px;
  height: 145px;
  float: left;
  padding-top: 20px;
  margin-right: 7px;
}


.housing {
  width: 240px;
  height: 145px;
  float: left;
  padding-top: 19px;
}

.cost-of {
  width: 335px;
  height: 145px;
  float: right;
  padding-top: 7px;
}

.field-cost-of {
  width: 145px;
  margin-left: 15px;
  height: 30px;
}

.filter {
  height: 210px;
  margin-bottom: 5px;
}

.filter-btn {
  margin: 0 auto;
  display: block;
  margin-top: 54px;
  padding: 8px 33px;
}

.found {
  padding: 32px 70px 27px;
  height: 30px;
  width: 1060px;
}

.found-title {
  float: left;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  /*margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 70px;*/
}

.found-header {
  float: left;
  font-size: 12px;
  line-height: 18px;
  padding-left: 50px;
  padding-top: 5px;
  /*padding-top: 35px;*/
}

.active-found {
  float: left;
  width: 50px;
  font-size: 12px;
  line-height: 18px;
  padding-left: 35px;
  padding-top: 5px;
  /*padding-top: 35px;*/
}

.disable-found {
  float: left;
  font-size: 12px;
  line-height: 18px;
  padding-left: 35px;
  padding-top: 5px;
  /*margin-top: 35px;*/
}

.switches {
  float: right;
  width: 40px;
  height: 20px;
  /*padding-right: 70px;
  padding-top: 30px;*/
}

.swith-up-disable {
  width: 11px;
  height: 10px;
  display: inline-block;
  text-align: left;
  padding-right: 10px;
}

.swith-down-active {
  width: 11px;
  height: 10px;
  display: inline-block;
  text-align: right;

}

.result {
  padding-bottom: 4px;
}

.result-item {
  float: left;
  width: 1060px;
  height: 90px;
  padding: 30px 70px;
  padding-right: 74px;
}

.result-item-left {
  float: left;
  width: 460px;
}

.result-item-right {
  float: right;
  width: 140px;
  height: 80px;
  text-align: right;
  display: inline-block;
}

.result-img {
  width: 135px;
  height: 90px;
  float: left;
}

.result-header {
  float: left;
  padding-left: 30px;
  margin-top: -6px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 5px;
}

.result-subtitle {
  min-width: 200px;
  float: left;
  padding-left: 30px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.result-subtitle span:nth-child(2) {
  float: right;
  padding-right: 20px;
}

.result-btn {
  float: left;
  margin-left: 30px;
}

.more {
  float: left;
  border: 1px solid black;
  width: 110px;
  height: 25px;
  margin-right: 5px;
  text-align: center;
}

.book {
  float: left;
  border: 1px solid black;
  width: 140px;
  height: 25px;
  text-align: center;
}

.star {
  min-width: 120px;
  height: 15px;
  display: inline-block;
  text-align: right;
  padding-bottom: 47px;
  margin-right: 4px;
}

.rating {
  width: 110px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  line-height: 21px;
  margin-right: 4px;
}

.rating span {
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
  vertical-align: middle;
}
