html {
  padding: 0;
  margin: 0;
}

body {
font-size: 14px;
line-height: 26px;
color: #333333;
font-weight: normal;
font-family: "PT Sans", "Arial", sans-serif;
padding: 0;
margin: 0;
position: relative;
min-width: 1200px;
background-color: white;
color: black;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
font-size: 30px;
line-height: 24px;
color: black;
font-weight: bold;
}

h3{
  font-size: 21px;
  line-height: 26px;
  color: black;
}



.container {
  width: 1200px;
  margin: 0 auto;
}

.main-nav-list {
  padding: 0;
  margin: 0 auto;;
  list-style: none;

}

.main-nav-item {
  padding: 14px 0;
  margin: 0;
  width: 154px;
}

.main-header {
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 2px;
}

.item-left {
  float: left;
  margin-left: 34px;
  margin-right: 55px;
}

.item-right {
  float: right;
  margin-left: 52px;
  margin-right: 42px;
}

.main-nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 14px;
  line-height: 26px;
}

.main-nav-link-active {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #766357;
  cursor: default;
}

.main-nav-link-active:hover {
  color: #604e43;
}

.main-nav-link-active:active {
  color: rgba(118, 99, 87, 0.302);
}

.main-nav-link:hover {
  color: #81b3d2;
}

.main-nav-link:active {
  color: #000000;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.logo {
  width: 138px;
  height: 70px;
  top: 0;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
}


.intro {
  width: 1200px;
  height:508px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-image: url("../img/bg-index.jpg");
}

.introduction {
  margin: 0 auto;
  width: 440px;
  text-align: center;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.causes {
  width: 490px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  line-height: 26px;
}

.content-item {
  height: 256px;
}

.content-text {
  float: left;
  width: 400px;
  padding-top: 55px;
  background-color: #81b3d2;
  height: 201px;
}

.content-img {
  float: left;
  width: 800px;
  height: 256px;
}

.content-header {
  width: 155px;
  margin: 0 auto;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: white;
}

.content-number {
  display: block;
  min-width: 55px;
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 21px;
  text-align: center;
  color: white;
}

.content-subtitle {
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  margin: 0 auto;
  font-style: 21px;
  color: white;
}

.subtitle-1 {
  width: 285px;
}

.subtitle-2 {
  width: 210px;
}

.subtitle-3 {
  width: 263px;
}

.subtitle-4 {
  width: 260px;
}

.subtitle-5 {
  width: 305px;
  margin-top: 3px;
}

.header-1 {
  width: 155px;
}

.feature {
  height: 330px;
}

.feature-item {
  width: 400px;
  float: left;
  padding-top: 160px;
  position: relative;
}

.feature-item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  top: 60px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.feature-item:nth-child(1)::before {
  width: 75px;
  height: 72px;
  background-position: -10px -765px;
}

.feature-item:nth-child(2)::before {
  width: 74px;
  height: 70px;
  background-position: -10px -301px;
}

.feature-item:nth-child(3)::before {
  width: 64px;
  height: 76px;
  background-position: -10px -669px;
}

.feature-icon {
  margin-bottom: 28px;
}

.feature-header {
  width: 105px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.feature-subtitle {
  width: 301px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
}

.feature-small {
  height: 256px;
  width: 1200px;
}

.feature-small-item {
  width: 400px;
  float: left;
  padding-top: 48px;
  background-color: #eeeeee;
  height: 210px;
}

.feature-small-item .content-number {
  color: #333333;
}

.feature-small-item .content-subtitle {
  color: #333333;
}

.feature-small-item:nth-child(3) {
  margin-right: 0;
}

.feature-small-header {
  width: 120px;
  margin: 0 auto;
  text-align: center;
  line-height: 21px;
  vertical-align: bottom;
  margin-bottom: 25px;
}

.search {
  padding-top: 56px;
}

.interest {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.interest-subtitle {
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 47px;
  font-size: 14px;
}

.search-hotel {
  width: 565px;
  margin: 0 auto;
  z-index: 200;
  position: relative;
  background-color: #766357;
  color: white;
}

.search-hotel-title {
  display: inline-block;
  padding: 30px 137px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  vertical-align: top;
  cursor: pointer;
}

.sedona-hotel-form {
  width: 457px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 53px 54px;
  background-color: white;
  display: none;
}

.sedona-hotel-form-show {
  display: block;
}

.sedona-hotel-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.sedona-hotel-form input[type="text"]:focus {
  background: none;
  outline: 2px solid #e5e5e5;
}

.signature-date {
  text-transform: uppercase;
  padding-bottom: 28px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  text-align: left;
  margin-top: 7px;
  position: relative;
  vertical-align: top;
}

.signature-departure {
  text-transform: uppercase;
  margin-bottom: 36px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  text-align: left;
  margin-top: 13px;
  vertical-align: top;
}

.field-date {
  margin-left: 15px;
  height: 38px;
  width: 290px;
  padding-right: 40px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: black;
  float: right;
}

.sedona-hotel-form input::-moz-placeholder {
  color: black;
}

.sedona-hotel-form input::-webkit-input-placeholder {
   color: black;
 }

.field-peoples {
  width: 50px;
  padding-left: 30px;
  padding-right: 30px;
  height: 37px;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: black;
  float: right;
}

.search-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 192px;
  border: none;
  color: white;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
}

.signature-noblock {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  display: inline-block;
  float: left;
  vertical-align: middle;
  line-height: 37px;
}

.label-field-bottom {
  width: 223px;
  float: left;
  margin-bottom: 53px;
}

.label-field-bottom-right {
  float: right;
  width: 178px;
}

.minus {
  position: absolute;
  width: 12px;
  height: 3px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -10px -1034px;
  top: 18px;
  left: 11px;
}

.minus:hover {
  position: absolute;
  width: 12px;
  height: 3px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -10px -1080px;
  top: 18px;
  left: 11px;
}

.minus:active {
  position: absolute;
  width: 12px;
  height: 3px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -10px -1057px;
  top: 18px;
  left: 11px;
}

.plus {
  position: absolute;
  width: 11px;
  height: 11px;
  background-position: -10px -1187px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: 14px;
  right: 13px;
}

.plus:hover {
  position: absolute;
  width: 11px;
  height: 11px;
  background-position: -10px -1249px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: 14px;
  right: 13px;
}

.plus:active {
  position: absolute;
  width: 11px;
  height: 11px;
  background-position: -10px -1218px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: 14px;
  right: 13px;
}

.minus-plus {
  float:  right;
  width: 110px;
  position: relative;
}

.signature-field-top {
  margin-bottom: 7px;
  position: relative;
}

.calendar {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -10px -475px;
  width: 21px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.calendar:hover {
  background-position: -10px -433px;
}

.calendar:active {
  background-position: -10px -391px;
}

.map {
  margin-bottom: -128px;
  position: relative;
  z-index: 1;
}

.footer-hash {
  height: 120px;
  width: 310px;
  float: left;
}

.hash {
  display: inline-block;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-left: 131px;
  padding-top: 46px;
  vertical-align: top;
}

.footer-social {
  width: 580px;
  float: left;
  line-height: 113px;
  vertical-align: middle;
  text-align: center;
}

.social-btn {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 0px;
  margin-right: 3px;
  cursor: pointer;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.social-btn-tw {
  background-position: 5px -1348px;
}

.social-btn-tw:active {
  background-position: 3px -1651px;
}

.social-btn-fb {
  background-position: 8px -588px;
}

.social-btn-fb:active {
  background-position: 3px -1568px;
}

.social-btn-you {
  background-position: 2px -1410px;
}

.social-btn-you:active {
  background-position: 2px -1612px;
}



.footer-copyright {
  width: 205px;
  height: 40px;
  float: right;
  padding-top: 39px;
  padding-right: 94px;
}

.footer-copyright span {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  padding-right: 5px;
}

.btn-html {
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -857px;
}

.btn-html:hover {
  background-position: -10px -975px;
}

.btn-html:active {
  background-position: -10px -916px;
}

.main-footer {
  height: 120px;
  z-index: 200;
  position: absolute;
  background-color: white;
  width: 100%;
  opacity: 0.9;
}

.form-block {
  padding: 27px 0;
  width: 1060px;
}

.form-block::-moz-placeholder {
  color: white;
}

.form-block input::-webkit-input-placeholder {
   color: white;
 }

.inside-page {
  padding-left: 6%;
  padding-right: 6%;
  width: 1060px;
  margin: 0 auto;
}

.form-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.signature-catalog {
  display: block;
  margin-bottom: 19px;
  margin-left: 25px;
  text-transform: uppercase;
  margin-top: 4px;
}

.field-catalog {
  display: none;
}

.field-catalog + label {
  display: block;
  margin: 5px 0;
  margin-bottom: 25px;
  line-height: 20px;
  padding-left: 41px;
  position: relative;
  cursor: pointer;
}

.field-catalog + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -10px -1103px;
  left: 0;
}

.field-catalog:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -10px -517px;
  left: 0;
}

.field-catalog:disabled + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -10px -1145px;
  left: 0;
}

.field-catalog:checked:disabled + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -10px -559px;
  left: 0;
}

.left-fieldset {
  width: 220px;
  height: 145px;
  float: left;
  padding-top: 17px;
  margin-right: 15px;
  border: none;
  color: white;
}

.filter-range {
  width: 330px;
  /*height: 155px;*/
  float: right;
  padding: 0;
  border: none;
  color: white;
  margin-right: -10px;
  /*font-size: 0;*/
  text-transform: uppercase;
}

.price-controls {
  height: 33px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 0;
  position: relative;
  width: 313px;
  margin-left: 9px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.price-controls:after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 9px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 99%;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toogle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toogle-min {
  left: 0;
}

.range-toogle-max {
  left: 79%;
}

.range-toogle:hover {
  background: #1c4f80;
}

.filter {
  height: 217px;
  margin: 0 auto;
  padding-left: 61px;
  background-color: #7b9dc0;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -55px;
}

.filter-btn {
  margin-left: 94px;
  display: block;
  padding: 6px 31px;
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  line-height: 20px;
}

.filter-btn:hover {
  background-color: white;
  color: black;
}

.found {
  padding: 30px 0 25px;
  height: 30px;

  margin: 0 auto;
}

.found-title {
  float: left;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  /*margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 70px;*/
}

.found-header {
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin-left: 47px;
  margin-top: 5px;
}



.found-item {
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin-left: 33px;
  margin-top: 5px;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  color: #000000;
}

.active-found {
  margin-left: 39px;
  color: #81b3d2;
  border-bottom: none;
}

.found-item:hover {
  color: #81b3d2;
}

.found-item:active {
  color: #000000;
  border: none;
}

.switches {
  float: right;
  width: 40px;
  height: 20px;
  padding-top: 10px;
}

.swith-up {
  display: inline-block;
  text-align: left;
  padding-right: 10px;
  vertical-align: top;
  background-image: url("../img/spritesheet.png");
  width: 11px;
  height: 10px;
  background-position: -10px -211px;
}

.swith-up:hover {
  background-position: -10px -271px;
}

.swith-up:active {
  background-position: -10px -241px;
}

.swith-down-active {
  width: 11px;
  height: 10px;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  background-image: url("../img/spritesheet.png");
  background-position: -10px -151px;
}

.result {
  padding-bottom: 4px;
}

.result-item {
  float: left;
  width: 1060px;
  height: 90px;
  padding: 30px 0;
  padding-right: 74px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: -1px;
}

.result-item-left {
  float: left;
  width: 460px;
}

.result-item-right {
  float: right;
  width: 140px;
  height: 80px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

.result-img {
  width: 135px;
  height: 90px;
  float: left;
  margin-right: 30px;
}

.result-header {
  float: left;
  margin-top: -4px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.result-header:hover {
  color: #81b3d2;
}

.result-header:active {
  font-family: "PT Sans";
  color: rgba(0, 0, 0, 0.302);
}

.result-subtitle {
  min-width: 200px;
  float: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333333;
}

.result-subtitle span:nth-child(2) {
  float: right;
  padding-right: 20px;
}

.more {
  float: left;
  display: inline-block;
  color: white;
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}

.book {
  float: left;
  width: 142px;
  height: 27px;
  text-align: center;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: #766357;
}

.star {
  width: 25px;
  height: 17px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  background-position: -6px -84px;
  vertical-align: middle;
}

.star-container {
  height: 30px;
  display: inline-block;
  text-align: right;
  margin-bottom: 33px;
  vertical-align: bottom;
}

.rating {
  width: 111px;
  height: 27px;
  text-align: center;
  display: inline-block;
  line-height: 21px;
  margin-right: 5px;
  vertical-align: top;
  color: #666666;
  background-color: #f2f2f2;
}

.rating span {
  text-transform: uppercase;
  line-height: 29px;
  font-size: 14px;
  vertical-align: middle;
}

.btn:hover {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.brown-btn:hover {
  background-color: #604e43;
}

.brown-btn:active {
  background-color: #503e33;
  color: #928a85;
}
